In [1]:
2+55

57

# Operators

In [2]:
2+2

4

In [3]:
50/1

50.0

In [4]:
50/25

2.0

In [5]:
10+20

30

In [6]:
100-3

97

In [7]:
10*20

200

In [8]:
2*2

4

In [9]:
2*2

4

In [13]:
"Hello"=='hello'

False

In [17]:
x = 5
y = 5
x == y

True

In [33]:
x = [1,2,2,3]
y = [1,2,2,3]
z = y
p = [2,4,6,8]
x is p

False

In [36]:
z is p

True

In [40]:
days = ['Sunday', 'Monday', 'Tuesday', 'Wedneshday', 'Thursday', 'Friday', 'Saturday']

In [41]:
'Sunday' in days

True

In [46]:
num = [234, 1234, 4234, 324, 534545, 3545, 435, 234, 23, 2, 33, 3]

In [49]:
23 in num

True

In [53]:
msg = input("Who is your fev actor")

In [51]:
msg = input("What is your name")

In [55]:
msg = input("what is your number")

In [56]:
Name = input('Enter your name:')
Age = input('Enter your age:')
School = input('Enter your school name:')

In [57]:
Age = int(Age)

In [63]:
x = '100'
y = '-90'
x+y

'100-90'

In [60]:
x = int(x)
y = int(y)
x+y

10

In [71]:
x='10'
y='10'
x+y

'1010'

In [72]:
x=int(x)
y=int(y)
x+y

20

In [99]:
x='10'
y='101'
z='1.25'
x+y+z

'101011.25'

In [100]:
x=int(x)
y=int(y)
z=float(z)
x+y-z

109.75

In [80]:
x=5
x=str(5)

In [81]:
pi=3.15
p=int(pi)

In [179]:
Name = input('What is your name')
Address = input('What is your address')
Contact = input('What is your Phone numner')
Contact = int(Contact)
Email = input('What is your email address')

ValueError: invalid literal for int() with base 10: "dfhb'"

In [106]:
x=5
y=4
z=78

In [113]:
x==y

False

In [115]:
x!=z

True

In [116]:
z>x

True

In [117]:
x<y

False

In [118]:
x**y

625

In [119]:
x*y-z

-58

In [120]:
z/x+y

19.6

In [121]:
z//x

15

In [122]:
z/x

15.6

In [123]:
x%y

1

In [124]:
z%y

2

In [125]:
z%y%x

2

In [137]:
x=5
y=10

In [140]:
x==y

False

In [145]:
x!=y

True

In [148]:
x>=y

True

In [149]:
x<=y

False

In [166]:
x=5
y=5
x < y and x > y

False

In [168]:
num = [1,2,3,4,5,6,7,8,9,5,52,5,4,8,6,5,4,8,1,3,2,5,4,7,56,5,6,1,5,4,1,8,4,25,5,6,2,5,5,2,3,14,5,6,]

In [190]:
100 not in  num

True

In [185]:
x=10
y=10
x is y

True

In [1]:
Name = input ("Enter your name:")
City = input ("Enter your city:")
Fav_food = input ("Enter your favourite food:")
Fav_movie = input ("Enter your favourite movie:")
Fav_book = input ("Enter your book:")

print(f'Your name: {Name}')
print(f'Your city: {City}')
print(f'Your favourite food: {Fav_food}')
print(f'Your favourite movie: {Fav_movie}')
print(f'Your favourite book: {Fav_book}')

Your name: atif
Your city: luck
Your favourite food: mango
Your favourite movie: rrr
Your favourite book: julliet

In [194]:
num1 = int(input("Enter Your Number"))
num2 = int(input("Enter Your Second Number"))
num3 = num1 + num2

print(f'{num1} + {num2} = {num3}')

10 + 10 = 20

In [196]:
num1 = int(input("Enter Your Number"))
num2 = int(input("Enter Your Second Number"))
num3 = int(input("Enter Your third Number"))
num4 = int(input("Enter Your fourth Number"))
num5 = int(input("Enter Your fivth Number"))
num6 = num1 + num2 + num3 + num4 + num5

print(f'{num1} + {num2} + {num3} + {num4} + {num5} = {num6}')

10 + 10 + 10 + 10 + 101 = 141

In [198]:
num1 = int(input("Enter number"))
num2 = int(input("Enter second number"))
num3 = num1**num2

print(f'{num1} * {num2} = {num3}')

10 * 10 = 10000000000

In [199]:
p = float(input("Enter perpendicular"))
b = float(input("Enter base"))
h = p**2 + b**2

print(f'{h}')

200.0

In [233]:
p = float(input("Enter your amount"))
r = float(input("Enter rate"))
t = float(input("Enter time"))
si = (p*r*t)/100
a = si+p

print(f'Simple: {si}')
print(f'si:{a}')

Simple: 200.0
si:1200.0

In [213]:
print('You see an apple')
q = input ('Do you like apple?')
if q == 'yes':
    print('Purchase 2 kg of apple')
if q == 'no':
    print('You dont purchase apple')

You see an apple
Purchase 2 kg of apple

In [217]:
print('You see an apple')
q = input ('Do you like apple?')
if q == 'y' or q == 'yes':
    print('Purchase 2 kg of apple')
if q == 'n':
    print('You dont purchase apple')

You see an apple
Purchase 2 kg of apple

In [10]:
x = 10
if x > 11:
    print('x is grater than 5')
    print('This is the info we need')
    print('with this power, comes great responsinility')
else:
    print('The End')

The End

In [6]:
temp = float(input('What is the temperatire?'))
if temp > 100:
    print('Wear shorts')
else:
    print('Wear long pants')
print('Get some exercies outside')

Wear long pants
Get some exercies outside

In [4]:
score = float(input('Your score'))
if score >= 90:
    letter = 'A'
elif score >= 80:
    letter = 'B'
elif score >= 70:
    letter = 'C'
elif score >= 60:
    letter = 'D'
else:
    letter = 'F'
print(letter)

D

In [149]:
print(1,2,3,4, sep='>>', end='')

1>>2>>3>>4

In [30]:
# one liner 1
if 10 in range(100): print("10")

10

In [28]:
# one liner 2
x = "Alice" if "Jon" in "My name is Daya" else "Bob"
print(x)

Bob

In [31]:
# one liner 3
print("20") if 10000 in [10,20,30,40,50] else print("100")

100

In [43]:
p = float(input("Enter your amount"))
r = float(input("Enter rate"))
t = float(input("Enter time"))
si = (p*r*t)/100
a = si+p

print(f'Your amount:{p}')
print(f'Rate:{r}')
print(f'Time:{t}')
print(f'Simple: {si}')
print(f'si:{a}')

Your amount:10000.0
Rate:10.0
Time:1.0
Simple: 1000.0
si:11000.0

In [70]:
p = float(input("Enter your amount"))
r = float(input("Enter rate"))
t = float(input("Enter time"))

a = p*(1+r/100)**t
a = int(a)
ci = a-p
ci = int(ci)

print(f'Your amount:{p}')
print(f'Rate:{r}')
print(f'Time:{t}')
print(f'Amount:{a}')
print(f'Compund Intrest:{ci}')

Your amount:25000.0
Rate:10.0
Time:2.0
Amount:30250
Compund Intrest:5250

In [3]:
salary = 19000
if salary > 20000:
    hra = '5%'
else:
    hra = '6%'

In [4]:
hra = '5%' if salary > 20000 else '6%'
print(f'HRA: {hra}')

HRA: 6%

In [5]:
x = "Python"
for i in x:
    print(i)

P
y
t
h
o
n

In [1]:
word = "this is sparta"
for i in word:
    print(i)

t
h
i
s

i
s

s
p
a
r
t
a

In [3]:
fruits = ['apple', 'banana','lemon']
for item in fruits:
    print(f'I have {item}')

I have apple
I have banana
I have lemon

In [5]:
fruits = "apple, banana, lemon"
for item in fruits:
    print(item)

a
p
p
l
e
,

b
a
n
a
n
a
,

l
e
m
o
n

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(2, 10):
    print(i)

2
3
4
5
6
7
8
9

In [17]:
for i in range(1, 30, 5):
    print(i)

1
6
11
16
21
26

In [18]:
for i in range(6):
    print('you got point', i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [19]:
for num in range(2, 11):
    print(num)

2
3
4
5
6
7
8
9
10

In [23]:
# revers loop
for num in range(10, 2, -2):
    print(num)

10
8
6
4

In [31]:
# patter loop
for i in range(10):
    print(i * 'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

In [132]:
for num in range(1,100):
    if num % 3 == 0 and num % 5 == 0:
        print(num)

15
30
45
60
75
90

In [35]:
places = ["Paris", "London", "New York", "India"]
for place in places:
    print(f'{place} contains {len(place)} characters')

Paris contains 5 characters
London contains 6 characters
New York contains 8 characters
India contains 5 characters

In [38]:
x =[1,2,5,45,4,84,1,12,10,5,1,5,18,5,8,15,15,14,8,4,5,5,1]
c = 0
for i in x:
    if i == 5:
        c += 1
print(c)

6

In [113]:
x = [1,2,3,4,5,2,6,7,8,9,1,2,3,2,4,5,67,8,9,3,3,3,3,3]
y = [1,2,3,4,5,6,7,8,9,1,2,2,3,4,5,67,2,8,9]
c = 0
d = 0
for i, j in zip(x,y):
    if i == 3:
        c += 1
    if j == 0:
        d += 1
print(c)
print(d)

2
0

In [2]:
x = [1,2,3,4,5,6,7,8,9,6,5,4,7,8,2,1,3,6,2,2,2,2,2,2,2,2]
y = [4,5,8,2,5,8,7,4,1,3,6,5,4,7,8,9,3,6,5,2,6]
z = [1,2,3,4,5,6,7,8,9,9,9,9,9,9,9,9,10]
a = 0
b = 0
c = 0
for i in x:
    if i == 2:
        a += 1
for j in y:
    if j == 5:
        b += 1
for k in z:
    if k == 9:
        c += 1
print(a)
print(b)
print(c)

10
4
8

In [1]:
x = [1,2,3,4,5,6,7,8,9,6,5,4,7,8,2,1,3,6,2,2,2,2,2,2,2,2]
y = [4,5,8,2,5,8,7,4,1,3,6,5,4,7,8,9,3,6,5,2,6]
z = [1,2,3,4,5,6,7,8,9,10]

a = 0
b = 0
c = 0

for i, j, k in zip(x, y, z):
    if i == 2:
        a += 1
    if j == 4:
        b += 1
    if k == 1:
        c += 1
print(a)
print(b)
print(c)

1
2
1

# while loop

In [4]:
x = 1
while x < 10:
    print('Runing code')
    x += 1
print('Stop')

Runing code
Runing code
Runing code
Runing code
Runing code
Runing code
Runing code
Runing code
Runing code
Stop

In [16]:
# complex
n = 20
# initialize sum and counter
total = 0
i = 1
while i <= n:
    total = total + i
    i += 1 # Update
print("The total is", total)

The total is 210

In [24]:
while input("continue") == "y":
    print("You continued running this loop")

You continued running this loop
You continued running this loop

In [23]:
while len(input("Name a place")) > 0:
    print("You enterd a place")

You enterd a place

In [33]:
num = int(input('Enter a num'))
while num > 0:
    if num % 7 == 0:
        break
    print(num)
    num += 1

65464654
65464655
65464656
65464657

In [37]:
story = ""
while True:
    line = input("Enter a line")
    if line == "":
        break
    story += line + "\n"
print(story)

ksdnjfkjg
sgjdsgfsdg
sfhsjrg'sg
ghsjsrg

In [44]:
x = [2,1,0,5,5,2,0,1,5,0,0,5,8,4,2,0,7,6,0,4,5,9,6,0,2,5,4,8,0,5]
for i in x:
    if i == 0:
        continue
    print(i)

2
1
5
5
2
1
5
5
8
4
2
7
6
4
5
9
6
2
5
4
8
5

In [45]:
# for else
fruits = ['banana', 'apple', 'lemon', 'mango']
for fruit in fruits:
    print('We have', fruit)
else:
    print('that all')

We have banana
We have apple
We have lemon
We have mango
that all

In [50]:
vegs = ['Tomato', 'Carrot', 'Cucumber', 'Potato', 'Onion',]
for veg in vegs :
    print(f'Looking at {veg}')
    if veg == 'Potato':
        print("Potato found")
        break
else:
    print("Potato not found")

Looking at Tomato
Looking at Carrot
Looking at Cucumber
Looking at Potato
Potato found

In [54]:
num = int(input("Enter a number"))
for i in range(2, num):

    print(f'{num}/{i} = {num%i}')

    if num % i == 0:
        print(f'{num} is not a prime number')
        break
else:
    print(f'{num} is not a prime number')

15/2 = 1
15/3 = 0
15 is not a prime number

# enumerate

In [55]:
for idx,val in enumerate(vegs):
    print(idx, val)

0 Tomato
1 Carrot
2 Cucumber
3 Potato
4 Onion

In [66]:
x = [1,2,3,4,5,6,7,8,9,6]
y = [4,5,8,2,5,8,7,4,1,3]
z = [1,2,3,4,5,6,7,8,9,10]
for i, j, k in zip(x, y, z):
    print(i+j+k, end=' ')

6 9 14 10 15 20 21 20 19 19

In [77]:
x = [1,2,3,4,5,5,8,5,9,9,3,6,7,8,9,6]
y = [4,5,8,2,5,8,5,5,2,7,4,1,3]
z = [1,2,3,4,5,6,7,8,9,10]
for i, j, k in zip(x, y, z):
    print(i+j+k, end=' ')
    print(i+j, end=' ')
    print(j+k, end=' ')
    print(k+i, end=' ')

6 5 5 2 9 7 7 4 14 11 11 6 10 6 6 8 15 10 10 10 19 13 14 11 20 13 12 15 18 10 13 13 20 11 11 18 26 16 17 19

In [12]:
from turtle import *
forward(100)
left(90)
forward(100)
left(90)
forward(100)
left(90)
forward(100)
left(90)

In [27]:
from turtle import *
s = getscreen()
t = Turtle()
t.fd(100)
t.rt(90)
t.fd(100)
t.rt(90)
t.fd(100)
t.rt(90)
t.fd(100)
mainloop()

In [23]:
from turtle import *

s = getscreen()

t = Turtle()
for i in range(5):
    t.fd(100)
    t.rt(72)
mainloop()

In [44]:
from turtle import *

s = getscreen()

t = Turtle()
for i in range(10):
    t.fd(50)
    t.rt(36)
mainloop()

In [47]:
from turtle import *
t = Turtle()
t.speed('slowest')
s = getscreen()

for i in range(10):
    t.fd(50)
    t.rt(36)
    t.dot(20)
mainloop()

In [73]:
from turtle import *

t = Turtle()
t.speed('fast')
t.color('red')
s = getscreen()
pensize(2)

for i in range(10, 100):
    t.fd(i)
    t.lt(60)
mainloop()

In [94]:
from turtle import *
fillcolor('red')
begin_fill()
for i in range(5):
    fd(100)
    lt(72)
end_fill()
fillcolor('blue')
begin_fill()
circle(40)
end_fill()
mainloop()

In [121]:
from turtle import *
pencolor('yellow')
pensize(4)
fillcolor('green')
speed('fast')
for i in range(10,0,-1):
    begin_fill()
    circle(i*10)
    rt(25)
    end_fill()
mainloop()

In [150]:
from turtle import *
s = Screen()
s.setup(1080, 720)
colors = ['red', 'green']
pencolor('yellow')
pensize(5)
for i in range(5, 0, -1):
    penup()

    setpos(0,-20*i)
    pendown()
    fillcolor(colors[i%2])
    begin_fill()
    circle(20*i)
    end_fill()
mainloop()

In [18]:
name = "Gulam Wahid"
#len(name)
#name[0]
#name[10]
name[0] + name[1] + name[2] + name[3] + name[4]+ name[5] + name[6] + name[7] + name[8] + name[9] + name[10]

'Gulam Wahid'

In [3]:
#indexing
#slicing
#applying functions on strings
#methods
#iteratin

In [21]:
#getting a slice
s = "digipodium"
slice = s[3:8]
print(slice)

ipodi

In [25]:
fname = s[0:4]
print(fname)

digi

In [31]:
fname = name[2:8]
print(fname)

lam Wa

In [37]:
name = "Vijay Deenanath Chauhan"
#len(name)
#name[6:15]
name[-7:len(name)]

'Chauhan'

In [41]:
s = "digipodium"
slice1 = s[0:4]
slice2 = s[:-4]
print(slice1)
print(slice2)

digi
digipo

In [55]:
slice1 = s[4:len(s)]
slice2 = s[-1]
print(slice1)
print(slice2)

podium
m

In [1]:
#x = chr(65)
#print(x)
#x = chr(2365)
#print(x)
#x = chr(12365)
#print(x)
#x = chr(65161)
#print(x)
#x = chr(16655)
#print(x)
x = chr(84561)
print(x)

ð”©‘

In [5]:
y = ord('G')
print(y)
y = ord('U')
print(y)
y = ord('L')
print(y)
y = ord('A')
print(y)
y = ord('M')
print(y)

71
85
76
65
77

In [8]:
a = "this"
b = "is"
c = "not"
d = "a"
e = "mango"
msg = a + ' ' + b + ' ' + c + ' ' + d + ' ' + e
print(msg)

this is not a mango

In [12]:
word = 'hello '
print(word*3, )

hello hello hello

In [13]:
print('-'*10)

----------

functions (Method):
formating
utility
validation

In [25]:
story = "Once upon a time, there was a kingdom where people lived, The end"

In [18]:
len(story)

65

In [19]:
story.upper()

'ONCE UPON A TIME, THERE WAS A KINGDOM WHERE PEOPLE LIVED, THE END'

In [20]:
story.lower()

'once upon a time, there was a kingdom where people lived, the end'

In [22]:
story.capitalize()

'Once upon a time, there was a kingdom where people lived, the end'

In [23]:
story.title()

'Once Upon A Time, There Was A Kingdom Where People Lived, The End'

In [26]:
story.swapcase()

'oNCE UPON A TIME, THERE WAS A KINGDOM WHERE PEOPLE LIVED, tHE END'

In [28]:
story.title().swapcase()

'oNCE uPON a tIME, tHERE wAS a kINGDOM wHERE pEOPLE lIVED, tHE eND'